@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 246 247 251;
  --foreground: 17 24 39;

  --card: 255 255 255;
  --card-foreground: 17 24 39;

  --muted: 244 244 245;
  --muted-foreground: 107 114 128;

  --border: 229 231 235;
  --input: 255 255 255;

  --primary: 17 24 39;
  --primary-foreground: 255 255 255;

  --destructive: 220 38 38;
  --destructive-foreground: 255 255 255;
}

:root.dark {
  --background: 30 30 30;
  --foreground: 212 212 212;

  --card: 37 37 38;
  --card-foreground: 212 212 212;

  --muted: 45 45 48;
  --muted-foreground: 165 165 165;

  --border: 60 60 60;
  --input: 60 60 60;

  --primary: 229 231 235;
  --primary-foreground: 30 30 30;

  --destructive: 239 68 68;
  --destructive-foreground: 255 255 255;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: Arial, Helvetica, sans-serif;
}
